* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  color: #000;
}

.navbar a {
  font-size: 1.3em;
  color: #000;
}

.carousel-inner {
  overflow-y: hidden;
  width: 100%;
  height: auto;
}
.carousel-item {
  padding: 0;
}
.carousel-item img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.button-group button {
  padding: 8px 12px;
  margin: 0 5px;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
}

.grid-item {
  float: left;
  width: 23%;
  height: auto;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #595959;
  transition: all 0.4s ease-in-out;
}

.grid-item:hover {
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  transform: scale(1.1);
}

.grid-item img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* ================= RESPONSIVE ================= */

@media only screen and (max-width: 1500px) {
  .grid-item {
    width: 46%;
    height: auto;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px #595959;
    transition: all 0.4s ease-in-out;
  }
}

@media only screen and (max-width: 990px) {
  .grid-item {
    width: 40%;
    height: auto;
  }
}

@media only screen and (max-width: 450px) {
  .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    overflow: hidden;
  }
  .button-group button {
    width: 80%;
    margin: 5px;
  }
  .grid-item {
    width: 90%;
    height: auto;
  }
}
