body {
    background: fixed;
    background-color: #ffffffe5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #d10000;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

h1 {
    color: #000000;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 15px;
}

h2 {
    color: #d10000;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 20px;
}

h3 {
    color: #6558dc;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

h3 a {
    color: #6558dc;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
}

p {
    margin-bottom: 10px;
}

.menu-spark {
    overflow: hidden;
    background-color: #e6e6e6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: bold;
    text-align: left;
    width: 100% auto;
    height: 45px;
    padding: 7px;
    margin-left: 4px;
    margin-right: 4px;
}

.menu-spark a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    font-size: 18px;
    font-style: bold;
    text-align: left;
    margin-left: 4px;
    margin-right: 4px;
    display: inline;
    text-decoration: none;
    border-right: 1px solid;
    padding-right: 16px;
}

.menu-spark a:last-child {
    border-right: none;
}

.menu-spark a:hover {
    color: #ff0000;
}

.titulo-principal a {
    color: #ffffff;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 10px;
}

.artigo-carro-1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-style: bold;
    width: 90%;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    position: static;
    text-align: left;
}

.artigo-carro-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-style: bold;
    width: 90%;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    position: static;
    text-align: left;
}

.img-logo {
    width: 150px;
    position: static;
    float: left;
}

.img-carro {
    width: 680px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-carro-2 {
    width: 680px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    border: 1px solid #000000;
    border-collapse: collapse;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

tr,
th,
td {
    border: 1px solid #000000;
    padding: .4em;
    margin: 0;
    text-align: left;
}

.img-page-top {
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-style: bold;
    color: #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
}