body {
    background: #f0f2f5;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 200px;
}

.facebook-description-principal {
    background: #f0f2f5;
    margin-top: 185px;
    margin-left: 200px;
    padding-right: 20px;
    vertical-align: top;
    width: 580px;
    display: inline-block;
}

.facebook-description {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    padding: 0 0 20px;
    margin-right: 0;
    padding-right: 32px;
    width: 500px;
    vertical-align: top;
    align-items: left;
}

.facebook-description p {
    margin-top: 12px;
}

.facebook-logo {
    height: 106px;
    margin: -28px;
    border: 0;
}

.login-options {
    background: #f0f2f5;
    vertical-align: top;
    margin-top: 70px;
    display: inline-block;
}

.login-box {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    text-align: center;
    padding-bottom: 24px;
    padding-top: 18px;
    display: block;
}

#nome,
#senha {
    border: 1px solid #dddfe2;
    color: #1d2129;
    border-radius: 6px;
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    height: 22px;
    margin-bottom: -5px;
    line-height: 16px;
    vertical-align: middle;
}

.login-button {
    color: #fff;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    margin-top: 18px;
    width: 360px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    justify-content: center;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
}

.create-account-button {
    background-color: #42b72a;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    font-weight: bold;
    justify-content: center;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    cursor: pointer;
}

.forgot-password a {
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.separator {
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.create-page {
    border-top: none;
    color: #1c1e21;
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    padding-top: 0;
    padding-top: 15px;
}

.create-page a {
    color: #000000;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.page-footer {
    background-color: #fff;
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #737373;
    clear: both;
    position: static;
    min-height: 220px;
    margin: 0 auto;
    margin-bottom: 0 auto;
    width: 100%;
}

.page-footer a {
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #737373;
    text-decoration: none;
}

.page-footer a:hover {
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #737373;
    text-decoration: underline;
}

.page-footer ul li {
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #737373;
    text-decoration: none;
    justify-content: left;
    display: inline-table;
    margin-bottom: 0px;
    padding: 20px 15px 0 0;
}

.links {
    margin-left: 160px;
    margin-right: 110px;
}

.more-languages {
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 20px;
    border: 1px #737373 solid;
    border-radius: 2px;
    font-size: 18px;
    cursor: pointer;
}

.other-links {
    margin-top: -10px;
    margin-right: 110px;
    margin-bottom: 20px;
    padding-top: -20px;
}

.other-links li {
    margin-top: -10px;
}

.facebook-company {
    margin-left: 40px;
}