body {
    background: fixed;
    background-color: #000000ce;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 14px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

table {
    width: 400px;
}

h1 {
    color: #ffffff;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 15px;
}

h2 {
    color: #ffffff;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 10px;
}

h3 {
    color: #dcd758;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-decoration: none;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 10px;
}

h3 a {
    color: #dcd758;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-decoration: none;
}

.titulo-principal {
    background-color: #238859;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-style: bold;
    text-align: left;
    margin-right: 7px;
    width: 100% auto;
    height: 45px;
    padding: 7px;
    position: static;
    left: 0;
    top: 0;
}

.menu {
    overflow: hidden;
    background-color: #238859;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 15px;
    font-style: bold;
    text-align: left;
    margin-right: 7px;
    width: 100% auto;
    height: 45px;
    padding: 7px;
    position: static;
    left: 0;
    top: 0;
}

.menu a {
    overflow: hidden;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 15px;
    font-style: bold;
    text-align: center;
    text-decoration: none;
    margin-right: 7px;
    width: 100% auto;
    height: 65px;
    margin-top: 0px;
    padding: 7px;
    position: static;
    left: 0;
    top: 0;
    float: left;
    display: block;
}

.menu a:hover {
    color: #dcd758;
    background-color: #000000ab;

    height: 65px;
    margin-top: -12px;
}

.menu-2 {
    overflow: hidden;
    background-color: #e6e6e6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #000000;
    font-size: 15px;
    font-style: bold;
    text-align: left;
    margin-right: 7px;
    width: 100% auto;
    height: 45px;
    padding: 7px;
    position: static;
    left: 0;
    top: 0;
}

.menu-2 a {
    overflow: hidden;
    background-color: #e6e6e6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    color: #000000;
    font-size: 15px;
    text-decoration: none;
    font-style: bold;
    text-align: left;
    margin-right: 7px;
    width: 100% auto;
    height: 45px;
    padding: 7px;
    position: static;
    left: 0;
    top: 0;
}

.menu-2 a:hover {
    color: #000000;
    background-color: #ffffffab;
    height: 65px;
    margin-top: -12px;
}

.titulo-principal a {
    color: #ffffff;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-decoration: none;
    margin-top: 0px;
    margin-right: 10px;
}

.artigo-phone-1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 16px;
    width: 220px;
    padding: 7px;
    margin-top: 190px;
    margin-bottom: 10px;
    margin-left: 90px;
    position: absolute;
    text-align: left;
}

.artigo-phone-2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 16px;
    width: 190px;
    padding: 7px;
    margin-top: 790px;
    margin-bottom: 10px;
    margin-left: 180px;
    position: absolute;
    text-align: left;
}

.img-smartphone1 {
    width: 600px;
    height: 600px;
    margin-top: 0px;
    position: static;
    display: inline-block;
}

.img-smartphone2 {
    width: 460px;
    height: 585px;
    margin-top: 0px;
    position: static;
    display: inline-block;
}

.img-heineken {
    width: 150px;
    height: 200px;
    position: relative;
    display: inline-block;
}

h6 {
    color: #ffffff;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    text-decoration: none;
    margin-top: 0px;
    margin-left: 15px;
}

h6 a {
    text-decoration: none;
    color: #dcd758;
}

footer {
    background-color: #4d2388;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-style: bold;
    text-align: left;
    width: 100% auto;
    height: 45px;
    padding: 7px;
    margin-top: 10px;
    left: 0;
    bottom: 0;
    position: static;
}

.times {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    width: 550px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    text-align: left;
    position: static;
}

.perguntas {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    width: 700px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    text-align: left;
    position: static;
}

.img-page-top {
    width: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

#DIVp1,
#DIVp2,
#DIVp3,
#DIVp4,
#DIVp5,
#DIVp6,
#DIVp7,
#DIVp8,
#DIVp9,
#DIVp10 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto;
    font-size: 16px;
    width: 500px;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
    text-align: left;
    position: static;
}

.img-flamengo,
.img-vasco,
.img-fluminense,
.img-botafogo,
.img-america {
    width: 40%;
    height: 40%px;
}