body {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: #fff;
  background-color: #272822;
  padding: 10px;
}
label {
  font-size: 1.4em;
  padding: 5px;
}
input {
  font-size: 1.4em;
  padding: 5px;
  height: 30px;
  width: 200px;
  margin: 5px 5px;
}
ul {
  list-style: none;
  line-height: 30px;
}
li a {
  text-decoration: none;
  font-size: 1.5em;
  color: #fff;
}
li a:hover {
  color: rgb(0, 255, 72);
}
.box {
  float: left;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 5px;
  color: #fff;
  text-decoration: none;
  align-items: left;
  justify-content: center;
}
.btns {
  display: flex;
  flex-direction: row;
  margin: 4px;
}
.btn1,
.btn2,
.btn3,
.btn4 {
  height: 50px;
  width: 50px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2em;
  align-items: center;
  justify-content: center;
}
.console {
  font-size: 1.5em;
  background-color: #000;
  color: rgb(0, 255, 72);
  width: 250px;
  border: none;
  padding: 10px;
}
